* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;
}

.app {
    position: relative;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    border: 2px solid rgb(242, 5, 5);
}